<config>
  <!-- batch-size indicates how many datapoints to push to TSDS in each request -->
  <batch-size>100</batch-size>

  <!-- time-range, in seconds indicates how far back the collector will go from the current time -->
  <!-- for example 3600 means each time the collector runs, it will collect data from the last hour -->
  <time-range>3600</time-range> 

  <!-- run-interval indicates how frequently the collector runs (in seconds) -->
  <run-interval>600</run-interval>

  <!-- default-tsds-interval is the default interval to send to TSDS. 
       Most tests have an interval associated with them; this is the fallback value for when no
       interval is available. This is sometimes the case with continuous tests.
       Default setting of 60 is recommended.
       -->
  <default-tsds-interval>60</default-tsds-interval>

  <esmond>
    <!-- enter as many location tags as you wish, one for each perfSONAR measurement archive (MA) you wish to query -->
    <location>http://hostname/esmond/perfsonar/archive/</location>

    <!-- The event-type configuration below should work if you're using fairly default settings. Only change this if you know what you're doing -->
	<event-type name="throughput" tsds-measurement-type="bwctl_throughput">
		<data type="base" summary-name="throughput">
			<value type="int" tsds-name="throughput" />
		</data>
		<data type="base" summary-name="packet-loss-rate">
		      <value type="float" tsds-name="packet_loss_rate" />
		</data>
		<data type="base" summary-name="packet-retransmits">
			<value type="int" tsds-name="packet_retransmits" />
		</data>
	</event-type>
	<event-type name="histogram-owdelay" tsds-measurement-type="owamp_data">
		<data type="statistics" window="300" summary-name="histogram-owdelay">
			<value type="float" tsds-name="min_latency" esmond-name="minimum" />
			<value type="float" tsds-name="mean_latency" esmond-name="mean" />
			<value type="float" tsds-name="max_latency" esmond-name="maximum"/>
		</data>
		<data type="aggregation" window="300" summary-name="packet-loss-rate">
			<value type="float" tsds-name="packet_loss_rate" esmond-name="packet-loss-rate" />
		</data>
	</event-type>
	<event-type name="histogram-rtt" tsds-measurement-type="owamp_data">
		<data type="statistics" window="3600" summary-name="histogram-rtt">
			<value type="float" tsds-name="mean_rtt" esmond-name="mean" />
		</data>
		<data type="aggregation" window="3600" summary-name="packet-loss-rate-bidir">
			<value type="float" tsds-name="packet_loss_rate_bidir" esmond-name="packet-loss-rate-bidir" />
		</data>
	</event-type>
  </esmond>

  <timeseries user="username" pass="password">
    <!-- enter one 'location' tag for each TSDS instance you wish to push to -->
    <location>https://hostname/tsds/services/push.cgi</location>
  </timeseries>

</config>

